* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}

/* шрифты */
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Light.woff);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.woff);
}
@font-face {
  font-family: Josefin;
  src: url(../fonts/JosefinSans-SemiBold.woff);
}
@font-face {
  font-family: JosefinBold;
  src: url(../fonts/JosefinSans-Bold.woff);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.woff);
}

/* кнопка */
button {
    font-family: PoppinsBold;
    font-size: 20px;
    color: white;
    background-color: #7452ff;
    border-radius: 50px;
    border: 2px solid #7452ff;
    cursor: pointer;
    padding: 20px 40px
}

button:hover {
  background-color: #e8e4ff;
  color: black;
  border: 2px solid #e8e4ff;
}
