* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}

img {
  width: 100%;
}

/* шрифты */
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Light.woff);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.woff);
}
@font-face {
  font-family: Josefin;
  src: url(../fonts/JosefinSans-SemiBold.woff);
}
@font-face {
  font-family: JosefinBold;
  src: url(../fonts/JosefinSans-Bold.woff);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.woff);
}

/* кнопка */
button {
    font-family: PoppinsBold;
    font-size: 20px;
    color: white;
    background-color: #7452ff;
    border-radius: 50px;
    border: 2px solid #7452ff;
    cursor: pointer;
    padding: 20px 40px
}

button:hover {
  background-color: #e8e4ff;
  color: black;
  border: 2px solid #e8e4ff;
}

.background {
  background-color: #04001b;
  height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between; /* Разделяет элементы по краям */
    align-items: center; /* Выравнивает по вертикали */
    padding: 10px 20px;
    z-index: 1;
}


.right-part {
    display: flex;
    gap: 10px; /* Расстояние между элементами 2,3,4,5 */
    align-items: center;
}

.right-part div {
    padding: 5px 10px;
}

.logo {
  max-width: 100px;
  min-width: 20px;
}

.icon {
  max-width: 60px;
  min-width: 20px;
}

a {
  font-family: PoppinsRegular;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration:underline ;
}

.body {
  padding: 17% 40% 0% 10%;
}

h1 {
  font-family: PoppinsBold;
  font-size: 50px;
}
h2 {
  font-family: Poppins;
  font-size: 35px;
}
p {
  font-family: PoppinsRegular;
  font-size: 20px;
}

h1, h2, p, a {
  color: white;
}