* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}

img {
  width: 100%;
}

/* шрифты */
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Light.woff);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.woff);
}
@font-face {
  font-family: Josefin;
  src: url(../fonts/JosefinSans-SemiBold.woff);
}
@font-face {
  font-family: JosefinBold;
  src: url(../fonts/JosefinSans-Bold.woff);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.woff);
}

/* кнопка */
button {
    font-family: PoppinsBold;
    font-size: 20px;
    color: white;
    background-color: #7452ff;
    border-radius: 50px;
    border: 2px solid #7452ff;
    cursor: pointer;
    padding: 20px 40px;
    transition-duration: 0.4s;
}

button:hover {
  background-color: #e8e4ff;
  color: black;
  border: 2px solid #e8e4ff;
  box-shadow: 0 0 20px #9378fd;
}

.background {
  position: relative;
  background-color: #04001b;
  height: 100vh;
  overflow: hidden;
}

.header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between; /* Разделяет элементы по краям */
    align-items: center; /* Выравнивает по вертикали */
    padding: 10px 20px;
    /* z-index: 2; */
}

.right-part {
    display: flex;
    gap: 20px; /* Расстояние между элементами 2,3,4,5 */
    align-items: center;
}

.right-part div {
    padding: 5px 10px;
}

.logo {
  max-width: 100px;
  min-width: 20px;
}

.icon {
  max-width: 60px;
  min-width: 20px;
}

a {
  font-family: PoppinsRegular;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.4s;
}

a:hover {
  text-decoration: underline;
}

.body {
  position: relative;
  z-index: 2;
  padding: 14% 40% 0% 25%;
}

.footer {
  position: relative;
  z-index: 2;
  background: linear-gradient(to bottom,
  #04001b 0%,
  #0a013a 25%,
  #180551 50%,
  #3a1279 75%,
  #6935bc 100%);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0% 5% 0% 5%; */
  gap: 20px;
}

.footer_text {
  display: flex;
  gap: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

h1 {
  font-family: PoppinsBold;
  font-size: 50px;
}
h2 {
  font-family: Poppins;
  font-size: 35px;
}
p, li {
  font-family: PoppinsRegular;
  font-size: 20px;
}

h1, h2, p, a, li, ol, ul {
  color: white;
}

h1, h2, p, a, .icon, .logo {
  position: relative;
  z-index: 2;
}

.body_text {
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: relative;
  z-index: 2;
  padding: 6% 13% 0% 15%;
}

.body_input {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100vh;
  /* background-color: red; */
  /* justify-content: center; вертикаль */
  align-items: center;   /* горизонталь */
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}


.inp {
  font-family: PoppinsRegular;
  width: 300px;
  font-size: 20px;
  padding: 10px 15px;
  border-style: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.inp:active, .inp:focus{
  box-shadow: 0 0 20px #9378fd;
}

.inp:active, .inp:focus {
  outline: none;
}

inp::placeholder {
  font-family: PoppinsRegular;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%)
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Применить ко всем элементам, кроме одного с class=background" */
body *:not(.background) {
  opacity: o;
  animation: fadeIn 1s forwards;
}